@import "colors.css";
@import "fonts.css";
@import "resets.css";



html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: var(--gray0);
    color: var(--gray12);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}


.container {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
}


header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
header .container {
    padding: 40px 0;
}
header .logo {
    font-size: 2.75em;
    font-family: 'Sacramento', serif;
    text-decoration: none;
    color: white;
}

main {
    flex-grow: 1;
    display: flex;
}
main .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main article {
    margin-top: -100px;
}
main article h1 {
    font-size: 7.5em;
    font-weight: 100;
    line-height: 1;
}
main article p {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -8px;
    margin-left: 14px;
    color: var(--gray6);
}

main .me {
    height: 100vh;
    filter: grayscale(1);
    transition: filter 1s ease-in-out;
}
main .me:hover {
    filter: grayscale(0);
}


footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
footer .container {
    padding: 40px 0;
}
footer .icon {
    display: inline-flex;
    fill: var(--darkRed);
    position: relative;
    margin-top: 10px;
    width: 16px;
    height: 16px;
}
footer b {
    color: var(--darkOrange);
}


@media only screen and (max-width: 1600px) {
    .container {
        width: 1200px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 1000px;
    }
    main article {
        font-size: 0.85em;
    }
    main article h1 {
        font-weight: 300;
    }
    main article p {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: -5px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
        margin: unset;
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    main article {
        font-size: 0.7em;
    }
    main article h1 {
        font-weight: 300;
    }
    main article p {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: -5px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 1040px) {
    header {
        position: unset;
        top: unset;
        right: unset;
        left: unset;
        z-index: unset;
    }
    header .container {
        display: flex;
        justify-content: center;
    }

    main .container {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    main article {
        margin-top: 0;
    }
    main .me {
        height: unset;
        width: 80vw;
    }

    footer {
        position: unset;
        bottom: unset;
        right: unset;
        left: unset;
    }
    footer .container {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    header .logo {
        font-size: 2em;
    }

    main article {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.5em;
    }
    main article p {
        font-size: 1.25em;
        letter-spacing: 6px;
        margin-top: 12px;
        margin-left: 5px;
    }
    main .me {
        margin-top: -15vw;
    }

    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    header .logo {
        font-size: 1.75em;
    }

    main .container {
        padding: 0 !important;
    }

    main article {
        font-size: 0.4em;
    }
    main article p {
        font-size: 1.5em;
        letter-spacing: 4px;
        margin-top: 12px;
        margin-left: 5px;
    }
    main .me {
        margin-top: -15vw;
    }
    footer .icon {
        width: 14px;
        height: 14px;
    }
}